/* Font Definitions */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'BaseNeueBold';
    src: url('fonts/BaseNeueTrial-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'BaseNeueThin';
    src: url('fonts/BaseNeueTrial-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'BaseNeueMedium';
    src: url('fonts/BaseNeueTrial-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Typefesse';
    src: url('fonts/Typefesse_Claire-Obscure.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'OffBit';
    src: url('fonts/OffBitTrial-Dot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  /* Spinning Animation */
  .spin {
    width: 200px;
    height: auto;
    animation: spin-animation 10s infinite linear;
    transform-style: preserve-3d;
  }
  @keyframes spin-animation {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  /* Base Styles */
  html,body {
    overflow-x: hidden;
    overflow-y: auto;   /* allows vertical scroll */
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Satoshi', sans-serif;
    background-color: #d6ccc2;
    flex-direction: column;
  }

  h1 {
    font-size: 20px;
    color: #4d4844;
  }
  h2 {
    font-size: 16px;
    color: #4d4844;
  }
  p,
  a {
    font-size: 15px;
    color: #4d4844;
  }

  .container h1,h2
  {
    font-family: 'Satoshi-Bold',serif;
  }
  
  /* Navigation */
  .nav {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .nav a {
    font-size: 14px;
    color: #4d4844;
    width: 55px; /* Remove if movement is cleaner*/
    text-decoration: none;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    font-family: 'Satoshi', sans-serif;

  }
  .nav a:hover {
    opacity: 0.6;
    font-size: 15px;
  }
  
  /* Optional Additional Links */
  .additional-links {
    position: absolute;
    top: 30px;
    margin: auto;
    display: flex;
    gap: 25px;
  }
  .additional-links a {
    font-size: 14px;
    color: #4d4844;
    text-decoration: none;
    transition: all 0.3s ease; /* Smooth transition for hover effects */

  }
  .additional-links a:hover {
    opacity: 0.6;
    font-size: 15px;

  }

  .gym-text {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .gym-text a {
    text-decoration: none;
    color: #d6ccc2;
    font-size: 14px;
    font-family: 'Satoshi', sans-serif;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
  }
  .gym-text a:hover {
    font-size: 15px;
    color: #4d4844;
  }
  .gym-icon {
    transform: rotate(45deg);
    width: 30px; /* adjust size as needed */
    height: auto;
  }
  .container {
    width: 600px;
    word-wrap: break-word;
  }
  video {
    width: 30%;
    height: 650px;
    object-fit: cover; /* This can also be 'contain', depending on your need */
  }
  .portfolio_box {
    margin-top: 10vh;
    overflow-y: auto;  
    scrollbar-width: thin;
    scrollbar-color: #d6ccc2 #d6ccc2;
    margin-bottom: 5vh;
  }
  
  /* Logo */
.logo {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 20px;
  left: 20px;
}
.logo img {
  width: 40px;
  height: auto;
  transition: all 0.3s ease;
}
.image-stack {
 padding-top: 40%;

}
.image-stack img {
  display: block;
  width: 30%; /* or set a fixed width like 300px */
  margin: auto; /* spacing between images */
  margin-top: 40px;
}

/*
.logo-container {
  position: relative;
  display: inline-block;
}

.logo-container::after {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  color: #4d4844;
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s ease;
  font-family: 'Satoshi', sans-serif;
}
  .logo-container:hover::after {
  opacity: 1;
}
*/
.logo img {
  transition: all 0.3s ease;
}

.logo-container:hover img {
  scale: 1.1;
}
  
  /* Container and Layout */
 
  .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .box {
    width: 50%;
    word-wrap: break-word;
    align-items: center;
    position: relative;
    border-right: 1px solid rgba(77, 72, 68, 0.2);
  }
  .box:last-child {
    border-right: none;
  }
.portfolio_img{
    height: auto;
    width: 80%;
    display: block;      /* Makes the image a block element */
    position: relative;
    margin: auto;
  }

  .boxline a:hover,
  .boxline img:hover {
    color: rgba(77, 72, 68, 0.5);
    filter: brightness(1.2);
    font-size: 16px;
  }

  .box h2 {
   font-family: 'Satoshi-Bold', sans-serif;
   font-size: 20px;
  }

  hr {
    border: 0.5px solid rgba(77, 72, 68, 0.2);
    margin: 2rem 0;
  }
  
  /* Image Track */
  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0, -50%);
  }
  #image-track > .images {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
  }


    /* Image Track */
    #portfolio-track {
      display: block;
      gap: 4vmin;
      position: relative;
      left: 50%;
      transform: translateX(-50%); /* Center horizontally */
      margin: 20px 0; /* Add some vertical spacing */
      width: 60vmin; /* Match the image width */
  }
    #portfolio-track > .images {
      width: 50vmin;
      height: 40vmin;
      object-fit: cover;
      object-position: 30% 100%;
    }
  

  /* Adjust body layout for mobile */
@media (max-width: 768px) {
    body {
      justify-content:start;
      flex-direction: column;
      padding: 10px;
    }
    .container{
      width: 80%;
      margin: 10%;
    }
    .nav {
      position: static;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
      margin-top: 20px;
    }
    #image-track {
        overflow-x: auto;
        display: flex;
        scroll-snap-type: x mandatory;
      }
      
      #image-track > .images {
        scroll-snap-align: center;
      }

    #image-track > .images {
        width: 40vmin;
        height: 56vmin;
        object-fit: cover;
        object-position: 100% 50%;
      }
    .logo {
      position: static;
      margin-bottom: 20px;
    }

    .additional-links{
      padding-top: 45px;
        position: static;
        bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
  }
